<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @template.title %>
</p>

<p>
  <b>Description:</b>
  <%= @template.description %>
</p>

<p>
  <b>Start:</b>
  <%= @template.start %>
</p>

<p>
  <b>Stop:</b>
  <%= @template.stop %>
</p>

<p>
  <b>Interval:</b>
  <%= @template.interval %>
</p>


<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>

<table>
<% @template.count_intervals.times.each do |i| %>
  <tr>
    <td style="width:20px;"><input type="checkbox" name="checkbox[]" /></td>
    <td><%= @template.get_period(i) %></td>
    <td><%= @template.check_period(i) %></td>
  </tr>
<% end %>
</table>

<div>
  <input type="submit" value="Apply templates" />
  <input type="submit" value="Clear remove" />
  <input type="checkbox" name="also_populated" />Also affect populated shifts
</div>

<table>
<% @rows.each do |row| %>
  <tr>
  <% row.each do |cell| %>
    <td><%= cell %></td>
  <% end %>
</tr>
<% end %>
</table>
<ul>
<% @template.template_shift.each do | s | %>
    <li><%= s.shift_type.title %> - <%= s.start %> - <%= s.stop %></li>
<% end %>
  </ul>

