<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<div id="left_div">
	<div class="box">
		<h2>Shift types</h2>
	
		<ul>
		<ul>
			<li><%= link_to "Manage shift types", :controller => "shift_types", :action => "index" %></li>
			<li><%= link_to "Add new shift type", :controller => "shift_types", :action => "new" %></li>
		</ul>
	</div>
</div>

<div id="left_div">
	<div class="box">
		<h2>Users</h2>
		
		<ul>
			<li><%= link_to "Manage users", :controller => "users", :action => "index" %></li>
			<li><%= link_to "Add new user", :controller => "users", :action => "new" %></li>
		</ul>
	</div>
</div>

<div id="left_div">
	<div class="box">
		<h2>Groups</h2>
		
		<ul>
			<li><%= link_to "Manage groups", :controller => "user_groups", :action => "index" %></li>
			<li><%= link_to "Add new group", :controller => "user_groups", :action => "new" %></li>
		</ul>
	</div>
</div>

<div id="left_div">
	<div class="box">
		<h2>Tickets</h2>
	
		<ul>
			<li><%= link_to "Manage tickets", :controller => "tickets", :action => "index" %></li>
			<li><%= link_to "Add new ticket", :controller => "tickets", :action => "new" %></li>
			<li><%# link_to "Ticket reports", :controller => "tickets", :action => "reports" %></li>
		</ul>
	</div>
</div>

<div id="left_div">
	<div class="box">
		<h2>Certifications</h2>
	
		<ul>
			<li><a href="#">Manage certifications</a></li>
			<li><a href="#">Add new certification</a></li>
		</ul>
	</div>
</div>

