<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<dl>
  <dt>Total tickets:</dt>
  <dd><%= @user.tickets_sum %> </dd>
</dl>
<div>
  <%#= form_for @user do |f| %>
  <form method="post">
     <div class="field">
    <%#= f.label "withdraw" %><br />
    <%= text_field_tag "withdraw", 0 %>
    </div>
    <%= submit_tag "Withdraw" %>
  </form>
    <%#= f.submit %>
  <%# end %>
</div>
<%= @withdraw %>
<table>
  <% @user.tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.task.title %></td>
    <td><%= ticket.value %> </td>
    <td><%= ticket.used ? "Used" : "Unused" %></td>
  </tr>
  <% end %>
</table>