<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<script src="assets/raphael-min.js"></script>
<script src="assets/g.raphael-min.js"></script>
<script src="assets/g.line-min.js"></script>

<dl>
  <dt>Total tickets:</dt>
  <dd><%= @user.tickets_sum %> </dd>
</dl>

<% if @can_withdraw %>
<div>
  <%#= form_for @user do |f| %>
  <form method="post">
     <div class="field">
    <%#= f.label "withdraw" %><br />
    <%= text_field_tag "withdraw", 0 %>
    </div>
    <%= submit_tag "Withdraw" %>
  </form>
    <%#= f.submit %>
  <%# end %>
</div>
<% end %>

<table>
  <% @user.tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.comment %></td>
    <td><%= ticket.shift ? ticket.shift.shift_type.name: "" %></td>
    <td><%= ticket.value %> </td>
    <td><%= ticket.used ? "Used" : "Unused" %></td>
  </tr>
  <% end %>
</table>