<%= form_for(@shift) do |f| %>
  <% if @shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% @shift.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :shift_type_id %>
    <%= select("shift", :shift_type_id, ShiftType.all.collect {|p| [ p.title, p.id ] }, {:include_blank => false}) %>
  </div>
<!---  <div class="field">
  </div> -->

  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date %>

    <%= f.label :time %>
    <%= f.text_field :time %>
  </div>
  
  <div class="field">
    <%= f.label :duration %>
    <%= select(:shift, :duration, (0.5..10).step(0.5).map {|x| [x, x.hours]}) %>
  </div>

  <div class="field">
    <%= f.label :training %>
    <%= f.check_box :training %>
  </div>
  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :leasing %>
    <%= f.check_box :leasing %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">

  $(function(){
    $("#shift_date").datepicker({dateFormat:"yy-mm-dd"});
  });
</script>
