<% content_for :title, I18n.t("titles.shifts_calendar") %>
<% days = {monday: "mandag", tuesday:"tirsdag", wednesday:"onsdag", thursday:"torsdag", friday:"fredag", saturday:"lørdag", sunday:"søndag"} %>

<!-- tag for javascript to identify this page -->
<div id="view_calendar"></div>

<!--
<%= root_path %>
-->

<script type="text/javascript">
var shifttypes = <%= @shifttypes.to_json.html_safe %>;

<% if @user %>
var user = {
  "id": <%= @user.id %>,
  "username": <%= @user.username.to_json.html_safe %>
};
<% else %>
var user = { "id": null, "username": null };
<% end %>

</script>

<input type="text" id="filter_search" />


<div style="float:right;">
  <a href="<%=root_path%>shifts/calendar" id="calendar_view">Calendar</a>
  <a href="<%=root_path%>shifts/list" id="list_view">List</a>
</div>


<div style="float:right;margin-right:100px;">
  <a href="#" id="template">Templates</a>
</div>


<div style="float:right; margin-right:100px;">
  <a href="#" id="create_shift">Create shift</a>
</div>

<div id="show_filter">+</div>
<div id="filters" class="hidden"></div>



<div id="picker"></div>
<div id="calendar">

</div>

<style type="text/css">
</style>
<%= link_to 'New shift', new_shift_path %>


<div id="changes"></div>

<script id="shift" type="text/html">
<div class="shift {{ shift_type.title }}">
  <a href="/shifts/{{id}}">
  <div class="content">
    <div>{{ start_time }}</div>
    <div>

    {{shift_type.title}}
    {{user.username}}
    </div>
    <div>{{ end_time }}</div>
  </div>
  </a>
</div>
</script>
