<% content_for :title, I18n.t("titles.shifts_calendar") %>
<% days = {monday: "mandag", tuesday:"tirsdag", wednesday:"onsdag", thursday:"torsdag", friday:"fredag", saturday:"lørdag", sunday:"søndag"} %>

<div id="calendar">

</div>
<h1>Listing shifts</h1>

<table>
  <tr>
    <th>Shift type</th>
    <th>Comment</th>
    <th>Start</th>
    <th>End</th>
    <th>Duration</th>
    <th>User</th>
    <th>Certification</th>
    <th>Training</th>
    <th>Leasing</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @shifts.each do |shift| %>
    <tr>
      <td><%= link_to shift.shift_type.title, shift.shift_type %></td>
      <td><%= shift.comment %></td>
      <td><%= shift.start %></td>
      <td><%= shift.end %></td>
      <td><%= shift.end - shift.start %></td>
      <td><%= shift.user ? shift.user.username : "No user" %></td>
      <td><%= shift.shift_type.certifications.where(user: shift.user) ? "No certification" : "Has certification" %></td>
      <td><%= shift.training ? "Yes" : "No" %></td>
      <td><%= shift.leasing ? "Yes" : "No" %></td>
      <% if current_user && current_user.can_take_shift?(shift) %>
        <td><%= "Take shift" %></td>
      <% else %>
        <td><%= "You can't take this shift" %></td>
      <% end %>
      <td><%= link_to 'Show', shift %></td>
      <td><%= link_to 'Edit', edit_shift_path(shift) %></td>
      <td><%= link_to 'Destroy', shift, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<style type="text/css">
#calendar .shift
{
  position:absolute;
}
#calendar
{
  position:relative;
  height:1000px;
  width:100%;
  overflow:hidden;
}
.dayline
{

  border-left:1px solid gray;
  position:absolute;
  top:0px;
  bottom:0px;
  width:0px;
}
.hourline
{
  border-top:1px solid gray;
  position:absolute;
  height:0px;
  left:0px;
  right:0px;
}

.halfhourline
{
  border-top:1px dashed gray;
  position:absolute;
  height:0px;
  left:0px;
  right:0px;
}

.shift .content
{
  overflow:hidden;
  margin:1px;
  padding:4px;
  background-color:rgb(200,200,200);
  border-radius:5px;

  position:absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;

  border-left:2px solid red;
  border-right: 1px solid gray;
}

.ui-resizable-n
{
  height:15px;
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
}

.ui-resizable-s
{
  height:15px;
  position:absolute;
  left:0px;
  right:0px;
  bottom:0px;
}
.ui-selected .content
{
  background-color:rgb(200,240,240) !important;
}

.ui-selecting .content
{
  background-color:rgb(240,200,240) !important;
}

.ui-selectable-helper
{
  border:1px dashed grey;
  position:absolute;
}
</style>
<%= link_to 'New shift', new_shift_path %>

<script type="text/javascript">

    function resized(event, ui)
    {
      var e = $(this);
      
      var s = e.data('shift');
      if(ui.position.top != ui.originalPosition.top)
      {
        var diff = (ui.originalPosition.top - ui.position.top)
        diff = (diff / 1000 * 24 * 4).toFixed(0) * 15 * 60 * 1000;
        
        s.t_start = new Date(s.t_start.valueOf() - diff);
      }
      else
      {
        var diff = (ui.originalSize.height - ui.size.height)
        diff = (diff / 1000 * 24 * 4).toFixed(0) * 15 * 60 * 1000;

        s.t_end = new Date(s.t_end.valueOf() - diff);

      }

      cv.refresh();
      makeEditable()
    }

    function moved(event, ui)
    {
      var e = $(this);
      var s = e.data('shift');

      var diff = (ui.originalPosition.top - ui.position.top)
      diff = (diff / 1000 * 24 * 4).toFixed(0) * 15 * 60 * 1000;

      s.t_start = new Date(s.t_start.valueOf() - diff);
      s.t_end = new Date(s.t_end.valueOf() - diff);

      cv.refresh();
      makeEditable()
    }

    function makeEditable()
    {
      
      $(".shift").not(".ui-draggable").draggable(
          { axis: "y",
          grid: [10, 1000/24/4],
          stop: moved,
          distance: 40 });

      $(".shift").not(".ui-resizable").resizable(
        {
          handles: "n, s",
          grid: [10, 1000/24/4],
          stop: resized
         });

         $( "#calendar").selectable({'filter':'.shift'});
    }
    

var cv = new CalendarView("lol",1,2);

$(function(){
  makeDayGrid();
  makeHourGrid();
  makeHalfHourGrid();

  cv.fetch();
  cv.refresh();

  makeEditable();
})
</script>
<script id="shift" type="text/html">
<div class="shift">
  <div class="content">
    <div>
    {{shift_type.title}}
    {{user.username}}
    </div>
    <div>{{id}} - {{index}}/{{columns}}</div>
    <div>{{start}}</div>
    <div>{{end}}</div>
  </div>
</div>
</script>
