<p id="notice"><%= notice %></p>

<h2>Vis skift</h2>

<p>
  <b>Type</b>
  <%= @shift.shift_type.title %>
</p>
<p>
  <b>Kommentar</b>
  <%= @shift.comment %>
</p>

<p>
  <b>Dato:</b>
  <%= @shift.start.strftime("%d/%m %Y") %>
</p>

<p>
  <b>Tid:</b>
  <%= @shift.start.strftime("%H.%M")+'-'+@shift.end.strftime("%H.%M") %>
</p>

<p>
  <b>Varighet:</b>
  <%= @shift.end - @shift.start %>
</p>

<p>
  <b>Opplæring:</b>
  <%= @shift.training ? "Ja" : "Nei" %>
</p>

<p>
  <b>Utlån:</b>
  <%= @shift.leasing ? "Ja" : "Nei" %>
</p>

<%= link_to 'Rediger', edit_shift_path(@shift) %> |
<%= link_to 'Back', shifts_path %>
