<h1>Listing tickets</h1>

<table>
  <tr>
    <th>Comment</th>
    <th>Used</th>
    <th>Value</th>
    <th>Type</th>
    <th></th>
    <th></th>
	<th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.comment %></td>
    <td><%= ticket.used %></td>
    <td><%= ticket.value %></td>
	<% if ticket.shift != nil %>
		<%= ticket.shift.shift_type.title %>
	<% end %>
    <td><%= link_to 'Show', ticket %></td>
    <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
    <td><%= link_to 'Destroy', ticket, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket', new_ticket_path %>
