<p id="notice"><%= notice %></p>

<p>
  <b>Shift:</b>
  <% if @ticket.shift != nil %>
  <%= @ticket.shift.id %>
  <% end %>
</p>

<p>
  <b>Used:</b>
  <%= @ticket.used %>
</p>

<p>
  <b>Value:</b>
  <%= @ticket.value %>
</p>


<p>
  <b>User:</b>
  <% if @ticket.user != nil %>
	<%= @ticket.user.username %>
  <% else %>
	No user
<% end %>
</p>
<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
