<h1>Bonger for: <%= @user.username %></h2>
	
<h2>Antall ubrukte bonger: <%= @tickets %></h2>	
	
<b>Bong-historikk:<b>
<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<th>Dato</th>
		<th>Type vakt</th>
		<th>Bonger tjent</th>
	</tr>
	<% @ticket_history.each do |ticket| %>
	<tr>
		<% if ticket.shift != nil %>
		<td><%= ticket.shift.start.strftime("%d/%m %Y") %></td>
		<td><%=	ticket.shift.shift_type.title %></td>
		<td><%=	ticket.value %></td>
		<% end %>
		
	</tr>
	
	<% end %>
</table>
