<h1>New shift</h1>

<form id="new-shift" name="shift">
  <div class="field">
    <label for="start"> start:</label>
    <input type="text" name="start" id="start" value="<%= start %>" >
  </div>

  <div class="field">
    <label for="end"> end:</label>
    <input type="text" name="end" id="end" value="<%= end %>" >
  </div>

  <div class="field">
    <label for="training"> training:</label>
    <input type="text" name="training" id="training" value="<%= training %>" >
  </div>

  <div class="field">
    <label for="leasing"> leasing:</label>
    <input type="text" name="leasing" id="leasing" value="<%= leasing %>" >
  </div>

  <div class="field">
    <label for="task_id"> task_id:</label>
    <input type="text" name="task_id" id="task_id" value="<%= task_id %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Shift" />
  </div>

</form>

<a href="#/index">Back</a>