<td><%= start %></td>
<td><%= end %></td>
<td><%= training %></td>
<td><%= leasing %></td>
<td><%= task_id %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>