<p>
  <b>Start:</b>
  <%= start %>
</p>

<p>
  <b>End:</b>
  <%= end %>
</p>

<p>
  <b>Training:</b>
  <%= training %>
</p>

<p>
  <b>Leasing:</b>
  <%= leasing %>
</p>

<p>
  <b>Task:</b>
  <%= task_id %>
</p>


<a href="#/index">Back</a>