<!DOCTYPE html>
<html>
  <head>
    <title><%=h yield(:title) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript">
    var root_path = <%= root_path.to_json.html_safe %>;
    </script>
  </head>
  <body>
    <div id="wrap">	
      <div id="top">
        <h2><a href="/" title="Back to main page">SHIFTY (<%= (current_user ? current_user.username : (link_to 'Logg inn', :log_in)) %>)</a></h2>
        <div id="menu">
          <ul>
            <% controller = request.fullpath == root_path ? "root" : params[:controller] %>
            <li><%= link_to 'HJEM', root_path, class: (controller == "root" ? "current" : nil) %></li>
            <li>
                <%= link_to 'SKIFT', shifts_path, class: (controller == "shifts" ? "current" : nil) %>
            </li>
            <li>
              <%= link_to 'MIN SIDE', users_path, class: (controller == "users" || controller == "user_groups" ? "current" : nil) %></li>
          	 <li>
              <%= link_to 'ADMIN', :admin, class: (controller == "admin") %></li>
          
          </ul>
        </div>
      </div>
      <div id='content'>
        <%= yield %>
      </div>
      <div id='clear'></div>

      <div id="footer">
        <p>Copyright 2006 LoadFoO [V1]. Designed by <a href="http://loadfoo.org/" rel="external">LoadFoO</a>. Valid <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="external">CSS</a> &amp; <a href="http://validator.w3.org/check?uri=referer" rel="external">XHTML</a></p>
      </div>


    </div>

    <div id="popup">
      <div class="popup_content"></div>
      <div id="popup_background"></div>
    </div>
  </body>
</html>
