<!DOCTYPE html>
<html>
<head>
  <title>SHIFTY</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">	
	<div id="top">
		<h2><a href="#" title="Back to main page">SHIFTY</a></h2>
		<div id="menu">
			<ul>
				<li><a href="/" class="current">HJEM</a></li>
				<li><%= link_to 'SHIFT', shifts_path %></li>
				<li><%= link_to 'OPPGAVER', tasks_path %></li>
				<li><%= link_to 'BONGER', tickets_path %></li>
			</ul>
		</div>
	</div>
<div id='content'>
<%= yield %>
</div>


<div id="footer">
<p>Copyright 2006 LoadFoO [V1]. Designed by <a href="http://loadfoo.org/" rel="external">LoadFoO</a>. Valid <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="external">CSS</a> &amp; <a href="http://validator.w3.org/check?uri=referer" rel="external">XHTML</a></p>
</div>


</div>
</body>
</html>
